
@{
    ViewBag.Title = "WorkersList";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using Bishvilaych.Controllers
@model List<Workers>
@*אורית אוחיון*@
<h2>WorkersList</h2>
<h2 dir="rtl" style="text-underline-position:unset">רשימת עובדות</h2>

@*בלחיצה כפולה תפתח טבלת עובדות*@

<script type="text/javascript">
    function aa(code) {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("dossesion", "FullListWorkerss")",
            data: { id: code },
            success: function (result) {
            },
            Error: function () {
                alert("error")
            }
        })
    }


</script>
    
    
       @*$(document).ready(function () {
            $('table tr').dblclick(function () {
                $.ajax({
                    url: '@Url.Action("WorkerDetails", "WorkerDetails")',
                    type: 'POST',
                    success: function (result) { }
                });
            });
       });*@
    

<table dir="rtl" style="width:100%;" border="1">
    <tr>
        <td style="text-align:center">מספר זהות</td>
        <td style="text-align:center">שם מלא   </td>
        <td style="text-align:center">תפקיד    </td>
    </tr>
    @*הדף הזה היה טוב הבעיה היתה  ב*@ @*sql*@
    <tbody>
        @{
            foreach (var item in Model)
            {

                <tr onclick="aa(@item.Id)">
                    <td>@item.Id</td>
                    <td><lable>@item.FirstName</lable> <lable>@item.LastName</lable></td>
                    <td>@item.Job</td>

                </tr>
            }
        }
    </tbody>
</table>




