
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="mainHome">
    @if (ViewBag.auth == 0) //מנהלת
    {
        @Html.ActionLink("מטופלות", "Patiants", "Patiants", new { @class = "homeBtn" })
        @Html.ActionLink("עובדות", "Workers", "Workers", new { @class = "homeBtn" })
        @Html.ActionLink("פרויקטים בקהילה", "Costomers", "Customers", new { @class = "homeBtn" })
        @Html.ActionLink("כספי", "Reciepts", "Reciepts", new { @class = "homeBtn" })
    }
</div>

<div class="mainHome">
    @if (ViewBag.auth == 1) //מזכירה
    {
        @Html.ActionLink("מטופלות", "Patiants", "Patiants", new { @class = "homeBtn" })
        @Html.ActionLink("פרויקטים בקהילה", "customers", "customersList", new { @class = "homeBtn" })
        @Html.ActionLink("כספי", "Reciepts", "Reciepts", new { @class = "homeBtn" })
    }
</div>

<div class="mainHome">
    @if (ViewBag.auth == 2 || ViewBag.auth == 3) //רופאה-אחות-תזונאית
    {
       @Html.ActionLink("מטופלות", "Patiants", "Patiants", new { @class = "homeBtn" })
    }
</div>
