@{
    ViewBag.Title = "LifeStyleDr";
    Layout = "~/Views/Shared/_PatiantsLayoutPage.cshtml";
}
@using System.Collections.Generic;
@using System.Web.Mvc;
@using BussinesLayer;
@using BussinessLayer;
@model LifeStyle
<script>

     var dictionary = new Array();
    $(document).ready(function () {
        $.ajax({//שולף לי את כל סיבות הביקור,ומכניס לי לדיקשנרי
            type: 'get',
            url: "@Url.Action("getLastVisit")",
            data: {},
        success: function (result) {

            $.each(result, function (i) {
                var key = Object.keys(this)[0]//מביא לי את שם המפתח לדייט
                var val = Object.keys(this)[1]//מביא לי את שם המפתח לרשימה

                dictionary.push({
                    date: this[key],//מביא לי את התאריך
                    listRec: this[val],//מביא לי את הליסט


                })
            }) 
        },
        error: function () {
            alert("error")
        }
    }) //end ajax function
        $(".herf").click(function () {//כאשר בוחרים תאריך עדכן את הפקדים בהתאם למידע השייך לאותו תאריך
            $("#AbT").css('display', 'none');
            $("#RelationT").css('display', 'none');
            $("#OtherMentallssueT").css('display', 'none');
            $("#DepressionT").css('display', 'none');
            $("#Bi_polarT").css('display', 'none');
            $("#AnxietyT").css('display', 'none');
            $("#PastDisordersEatingT").css('display', 'none');
            $("#DisordersEatingT").css('display', 'none');
            $("#TraumaT").css('display', 'none');
            $("#PastDrugsT").css('display', 'none');
            $("#PastDisordersEatingT").css('display', 'none');
            $("#PassiveSmokingT").css('display', 'none');
            $("#DrugsT").css('display', 'none');
            $("#DrugsT").prop("checked", false);

        //$('#MyForm')[0].reset();//אפס את הטופס
        if (this.title != $("#now").attr("title")) //אם נכנסתה לתאריך שעבר,הפוך את כפתור השליחה ללא זמין
        {
            $("#ButtonSumbit").addClass("disablebutton")
            $("#ButtonSumbit").prop("disabled", true);
        }
        else {
            $("#ButtonSumbit").prop("disabled", false);
            $("#ButtonSumbit").removeClass("disablebutton")
        }
        for (var i = 0; i < dictionary.length; i++) {
            if (this.title == dictionary[i].date) {//שלוף את הנתונים של התאריך הנבחר ומלא אותם בפקדים
                for (var key in dictionary[i].listRec) {
                    var theinput = document.getElementsByName(key)[0];
                    if (theinput != undefined) {
                        var type = theinput.type;
                        switch (type) {
                            case "text":
                                $(theinput).val(dictionary[i].listRec[key]);
                                break;
                            case "radio":
                                $(theinput).prop("checked", dictionary[i].listRec[key]);
                                break;
                            case "checkbox":
                                $(theinput).prop("checked", dictionary[i].listRec[key]);
                                break;

                        }//end switch
                    }//end if
                };//end for
                //הצגת תיבות הטקסט במידה והצקבוקסים בחורים
                if ($("#Acohol").is(":checked")) {
                    $("#AcoholT").css('display', 'inline-block');
                   // $("#AcoholT").val($("#Text").val());
                }
                if ($("#Relation").is(":checked")) {
                    $("#RelationT").css('display', 'inline-block');
                    //$("#RelationT").val($("#Text").val());
                }
                if ($("#Ab").is(":checked")) {
                    $("#AbT").css('display', 'inline-block');
                 //   $("#AbT").val($("#Text").val());
                }
                if ($("#OtherMentallssue").is(":checked")) {
                    $("#Do").css('display', 'inline');
                    $("#Mm").prop("checked", true);
                    $("#OtherMentallssue").prop("checked", true);
                    $("#OtherMentallssueT").css('display', 'inline-block');
                //    $("#OtherMentallssueT").val($("#Text").val());

                    $("#AnxietyT").css('display', 'none');
                    $("#Bi_polarT").css('display', 'none');
                    $("#DepressionT").css('display', 'none');
                }
                if ($("#Depression").is(":checked")) {
                    $("#Do").css('display', 'inline');
                    $("#Mm").prop("checked", true);
                    $("#Depression").prop("checked", true);
                    $("#DepressionT").css('display', 'inline-block');
                 //   $("#DepressionT").val($("#Text").val());

                    $("#AnxietyT").css('display', 'none');
                    $("#Bi_polarT").css('display', 'none');
                    $("#OtherMentallssueT").css('display', 'none');
                }                  
                if ($("#Bi_polar").is(":checked")) {
                    $("#Do").css('display', 'inline');
                    $("#Mm").prop("checked", true);
                    $("#Bi_polar").prop("checked", true);
                    $("#Bi_polarT").css('display', 'inline-block');
                 //   $("#Bi_polarT").val($("#Text").val());

                    $("#AnxietyT").css('display', 'none');
                    $("#DepressionT").css('display', 'none');
                    $("#OtherMentallssueT").css('display', 'none');

                }
                if ($("#Anxiety").is(":checked")) {
                    $("#Do").css('display', 'inline');
                    $("#Mm").prop("checked", true);
                    $("#Anxiety").prop("checked", true);
                    $("#AnxietyT").css('display', 'inline-block');
                //    $("#AnxietyT").val($("#Text").val());

                    $("#Bi_polarT").css('display', 'none');
                    $("#DepressionT").css('display', 'none');
                    $("#OtherMentallssueT").css('display', 'none');

                }
                if ($("#PastDisordersEating").is(":checked")) {
                    $("#PastDisordersEatingT").css('display', 'inline-block');
                //    $("#PastDisordersEatingT").val($("#Text").val());

                }
                if ($("#DisordersEating").is(":checked")) {
                    $("#DisordersEatingT").css('display', 'inline-block');
                //    $("#DisordersEatingT").val($("#Text").val());

                }
                if ($("#Trauma").is(":checked")) {
                    $("#TraumaT").css('display', 'inline-block');
                //    $("#TraumaT").val($("#Text").val());
                }
                if ($("#PastDrugs").is(":checked")) {
                    $("#PastDrugsT").css('display', 'inline-block');
                  //  $("#PastDrugsT").val($("#Text").val());
                }
                if ($("#PassiveSmoking").is(":checked")) {
                    $("#PassiveSmokingT").css('display', 'inline-block');
                  //  $("#PassiveSmokingT").val($("#Text").val());
                }
                if ($("#Drugs").is(":checked")) {
                    $("#DrugsT").css('display', 'inline-block');
                   // $("#DrugsT").val($("#Text").val());
                }
            }//end if
        }//end for
    });
    });



    function onLoad()
    {
        console.log = @Session.Timeout;
        var Acohol = '@Model.Acohol';
        var PassiveSmoking = '@Model.PassiveSmoking';
        var Drugs = '@Model.Drugs';
        var PastDrugs = '@Model.PastDrugs';
        var Trauma = '@Model.Trauma';
        var DisordersEating = '@Model.DisordersEating';
        var PastDisordersEating = '@Model.PastDisordersEating';
        var Relation = '@Model.Relation';
        var Ab = '@Model.Ab';


        var Anxiety = '@Model.Anxiety';
        var Bi_polar = '@Model.Bi_polar';
        var Depression = '@Model.Depression';
        var OtherMentallssue = '@Model.OtherMentallssue';

        //The radio buton insade the div
        if (Anxiety == "True") {
            document.getElementById('Mm').checked = true;
            document.getElementById('Do').style.display = "block";
            document.getElementById('AnxietyT').style.display = "inline-block";
            document.getElementById("AnxietyT").required = true;
        }
        if (Bi_polar == "True") {
            document.getElementById('Mm').checked = true;
            document.getElementById('Do').style.display = "block";
            document.getElementById('Bi_polarT').style.display = "inline-block";
            document.getElementById("Bi_polarT").required = true;
        }
        if (Depression == "True") {
            document.getElementById('Mm').checked = true;
            document.getElementById('Do').style.display = "block";
            document.getElementById('DepressionT').style.display = "inline-block";
            document.getElementById("DepressionT").required = true;
        }
        if (OtherMentallssue == "True") {
            document.getElementById('Mm').checked = true;
            document.getElementById('Do').style.display = "block";
            document.getElementById('OtherMentallssueT').style.display = "inline-block";
            document.getElementById("OtherMentallssueT").required = true;
        }

        if (Acohol == "True") {
            document.getElementById('AcoholT').style.display = "inline-block";
            document.getElementById("AcoholT").required = true;
        }
        if (PassiveSmoking == "True") {
            document.getElementById('PassiveSmokingT').style.display = "inline-block";
            document.getElementById("PassiveSmokingT").required = true;
        }
        if (Drugs == "True") {
            document.getElementById('DrugsT').style.display = "inline-block";
            document.getElementById("DrugsT").required = true;
        }
        if (PastDrugs == "True") {
            document.getElementById('PastDrugsT').style.display = "inline-block";
            document.getElementById("PastDrugsT").required = true;
        }
        if (Trauma == "True") {
            document.getElementById('TraumaT').style.display = "inline-block";
            document.getElementById("TraumaT").required = true;
        }
        if (DisordersEating == "True") {
            document.getElementById('DisordersEatingT').style.display = "inline-block";
            document.getElementById("DisordersEatingT").required = true;
        }
        if (PastDisordersEating == "True") {
            document.getElementById('PastDisordersEatingT').style.display = "inline-block";
            document.getElementById("PastDisordersEatingT").required = true;
        }
        if (Relation == "True") {
            document.getElementById('RelationT').style.display = "inline-block";
            document.getElementById("RelationT").required = true;
        }
        if (Ab == "True") {
            document.getElementById('AbT').style.display = "inline-block";
            document.getElementById("AbT").required = true;
        }

    }

    function onchangeAll(id, check) {
        switch (id) {
            case "Acohol": PastDisordersEating
                {
                    if (check == true) {
                        document.getElementById('AcoholT').style.display = "inline-block";
                        document.getElementById('AcoholT').value = "";
                        document.getElementById('AcoholT').required = true;
                    }
                    else {
                        document.getElementById('AcoholT').value = "";
                        document.getElementById('AcoholT').style.display = "none";
                        document.getElementById('AcoholT').required = false;
                    }
                    break;
                }
            case "PassiveSmoking":
                {
                    if (check == true) {
                        document.getElementById('PassiveSmokingT').style.display = "inline-block";
                        document.getElementById('PassiveSmokingT').value = "";
                        document.getElementById('PassiveSmokingT').required = true;
                    }
                    else {
                        document.getElementById('PassiveSmokingT').value = "";
                        document.getElementById('PassiveSmokingT').style.display = "none";
                        document.getElementById('PassiveSmokingT').required = false;
                    }
                    break;
                }
            case "Drugs":
                {
                    if (check == true) {
                        document.getElementById('DrugsT').style.display = "inline-block";
                        document.getElementById('DrugsT').value = "";
                        document.getElementById('DrugsT').required = true;
                    }
                    else {
                        document.getElementById('DrugsT').value = "";
                        document.getElementById('DrugsT').style.display = "none";
                        document.getElementById('DrugsT').required = false;
                    }
                    break;
                }
            case "PastDrugs":
                {
                    if (check == true) {
                        document.getElementById('PastDrugsT').style.display = "inline-block";
                        document.getElementById('PastDrugsT').value = "";
                        document.getElementById('PastDrugsT').required = true;
                    }
                    else {
                        document.getElementById('PastDrugsT').value = "";
                        document.getElementById('PastDrugsT').style.display = "none";
                        document.getElementById('PastDrugsT').required = false;
                    }
                    break;
                }
            case "Trauma":
                {
                    if (check == true) {
                        document.getElementById('TraumaT').style.display = "inline-block";
                        document.getElementById('TraumaT').value = "";
                        document.getElementById('TraumaT').required = true;
                    }
                    else {
                        document.getElementById('TraumaT').value = "";
                        document.getElementById('TraumaT').style.display = "none";
                        document.getElementById('TraumaT').required = false;
                    }
                    break;
                }
            case "DisordersEating":
                {
                    if (check == true) {
                        document.getElementById('DisordersEatingT').style.display = "inline-block";
                        document.getElementById('DisordersEatingT').value = "";
                        document.getElementById('DisordersEatingT').required = true;
                    }
                    else {
                        document.getElementById('DisordersEatingT').value = "";
                        document.getElementById('DisordersEatingT').style.display = "none";
                        document.getElementById('DisordersEatingT').required = false;
                    }
                    break;
                }
            case "PastDisordersEating":
                {
                    if (check == true) {
                        document.getElementById('PastDisordersEatingT').style.display = "inline-block";
                        document.getElementById('PastDisordersEatingT').value = "";
                        document.getElementById('PastDisordersEatingT').required = true;
                    }
                    else {
                        document.getElementById('PastDisordersEatingT').value = "";
                        document.getElementById('PastDisordersEatingT').style.display = "none";
                        document.getElementById('PastDisordersEatingT').required = false;
                    }
                    break;
                }
            case "Relation":
                {
                    if (check == true) {
                        document.getElementById('RelationT').style.display = "inline-block";
                        document.getElementById('RelationT').value = "";
                        document.getElementById('RelationT').required = true;
                    }
                    else {
                        document.getElementById('RelationT').value = "";
                        document.getElementById('RelationT').style.display = "none";
                        document.getElementById('RelationT').required = false;
                    }
                    break;
                }
            case "Ab":
                {
                    if (check == true) {
                        document.getElementById('AbT').style.display = "inline-block";
                        document.getElementById('AbT').value = "";
                        document.getElementById('AbT').required = true;
                    }
                    else {
                        document.getElementById('AbT').value = "";
                        document.getElementById('AbT').style.display = "none";
                        document.getElementById('AbT').required = false;
                    }
                    break;
                }
            case "Mm":
                {
                    if (check == true) {
                        document.getElementById('Do').style.display = "block";
                        document.getElementById('Anxiety').checked = true;
                        document.getElementById('Bi_polar').checked = false;
                        document.getElementById('Depression').checked = false;
                        document.getElementById('OtherMentallssue').checked = false;

                        document.getElementById("AnxietyT").required = true;
                        document.getElementById("Bi_polarT").required = false;
                        document.getElementById("DepressionT").required = false;
                        document.getElementById("OtherMentallssueT").required = false;

                        document.getElementById('AnxietyT').value = "";
                        document.getElementById('Bi_polarT').value = "";
                        document.getElementById('DepressionT').value = "";
                        document.getElementById('OtherMentallssueT').value = "";

                        document.getElementById('AnxietyT').style.display = "inline-block";
                        document.getElementById('Bi_polarT').style.display = "none";
                        document.getElementById('DepressionT').style.display = "none";
                        document.getElementById('OtherMentallssueT').style.display = "none";
                    }
                    else {
                        document.getElementById('Anxiety').checked = false;
                        document.getElementById('Bi_polar').checked = false;
                        document.getElementById('Depression').checked = false;
                        document.getElementById('OtherMentallssue').checked = false;

                        document.getElementById("AnxietyT").required = false;
                        document.getElementById("Bi_polarT").required = false;
                        document.getElementById("DepressionT").required = false;
                        document.getElementById("OtherMentallssueT").required = false;

                        document.getElementById('AnxietyT').value = "";
                        document.getElementById('Bi_polarT').value = "";
                        document.getElementById('DepressionT').value = "";
                        document.getElementById('OtherMentallssueT').value = "";

                        document.getElementById('AnxietyT').style.display = "none";
                        document.getElementById('Bi_polarT').style.display = "none";
                        document.getElementById('DepressionT').style.display = "none";
                        document.getElementById('OtherMentallssueT').style.display = "none";
                        document.getElementById('Do').style.display = "none";
                    }
                    break;
                }
        }
    }


    function onchangeRadio(id) {
        if (id == "Anxiety") {
            document.getElementById('Anxiety').checked = true;
            document.getElementById('Bi_polar').checked = false;
            document.getElementById('Depression').checked = false;
            document.getElementById('OtherMentallssue').checked = false;

            document.getElementById("AnxietyT").required = true;
            document.getElementById("Bi_polarT").required = false;
            document.getElementById("DepressionT").required = false;
            document.getElementById("OtherMentallssueT").required = false;

            document.getElementById('AnxietyT').value = "";
            document.getElementById('Bi_polarT').value = "";
            document.getElementById('DepressionT').value = "";
            document.getElementById('OtherMentallssueT').value = "";

            document.getElementById('AnxietyT').style.display = "inline-block";
            document.getElementById('Bi_polarT').style.display = "none";
            document.getElementById('DepressionT').style.display = "none";
            document.getElementById('OtherMentallssueT').style.display = "none";
        }
        if (id == "Bi_polar") {
            document.getElementById('Anxiety').checked = false;
            document.getElementById('Bi_polar').checked = true;
            document.getElementById('Depression').checked = false;
            document.getElementById('OtherMentallssue').checked = false;

            document.getElementById("AnxietyT").required = false;
            document.getElementById("Bi_polarT").required = true;
            document.getElementById("DepressionT").required = false;
            document.getElementById("OtherMentallssueT").required = false;

            document.getElementById('AnxietyT').value = "";
            document.getElementById('Bi_polarT').value = "";
            document.getElementById('DepressionT').value = "";
            document.getElementById('OtherMentallssueT').value = "";

            document.getElementById('AnxietyT').style.display = "none";
            document.getElementById('Bi_polarT').style.display = "inline-block";
            document.getElementById('DepressionT').style.display = "none";
            document.getElementById('OtherMentallssueT').style.display = "none";
        }
        if (id == "Depression") {
            document.getElementById('Anxiety').checked = false;
            document.getElementById('Bi_polar').checked = false;
            document.getElementById('Depression').checked = true;
            document.getElementById('OtherMentallssue').checked = false;

            document.getElementById("AnxietyT").required = false;
            document.getElementById("Bi_polarT").required = false;
            document.getElementById("DepressionT").required = true;
            document.getElementById("OtherMentallssueT").required = false;

            document.getElementById('AnxietyT').value = "";
            document.getElementById('Bi_polarT').value = "";
            document.getElementById('DepressionT').value = "";
            document.getElementById('OtherMentallssueT').value = "";

            document.getElementById('AnxietyT').style.display = "none";
            document.getElementById('Bi_polarT').style.display = "none";
            document.getElementById('DepressionT').style.display = "inline-block";
            document.getElementById('OtherMentallssueT').style.display = "none";
        }
        if (id == "OtherMentallssue") {
            document.getElementById('Anxiety').checked = false;
            document.getElementById('Bi_polar').checked = false;
            document.getElementById('Depression').checked = false;
            document.getElementById('OtherMentallssue').checked = true;

            document.getElementById("AnxietyT").required = false;
            document.getElementById("Bi_polarT").required = false;
            document.getElementById("DepressionT").required = false;
            document.getElementById("OtherMentallssueT").required = true;

            document.getElementById('AnxietyT').value = "";
            document.getElementById('Bi_polarT').value = "";
            document.getElementById('DepressionT').value = "";
            document.getElementById('OtherMentallssueT').value = "";

            document.getElementById('AnxietyT').style.display = "none";
            document.getElementById('Bi_polarT').style.display = "none";
            document.getElementById('DepressionT').style.display = "none";
            document.getElementById('OtherMentallssueT').style.display = "inline-block";
        }
    }
</script>
<body dir="ltr" style="text-align:center" onload="onLoad()">
    <div id="lastvisit">
        @{
            BLVisitSummery blv = new BLVisitSummery();
            List<DateTime> l2 = new List<DateTime>();
            l2 = blv.get_updating(Session["Patiant"].ToString());
            foreach (var item in l2)
            {

                if (item.Date == DateTime.Today.Date)
                {
                    <a href="#" id="now" class="herf" title="@DateTime.Today.ToShortDateString()">היום</a><br />
                }
                else
                {
                    <a href="#" class="herf" title="@item.ToShortDateString()">@item.Day/@item.Month/@item.Year</a><br />
                }

            }


        }
    </div>

    @using (Html.BeginForm())
    {
        <h2>LifeStyleDr</h2>
        <center><b>Alcohol hx</b></center>
        <label for="Acohol">Did you ever drink a lot of alcohol in the past?</label>
        <input id="Acohol" name="Acohol" type="checkbox" value="true" @(Model.Acohol ? "checked=\"checked\"" : "") onclick="onchangeAll('Acohol', this.checked)" />
        <input id="AcoholT" type="text" name="AcoholT" style="display:none" value=@Html.DisplayFor(model => model.AcoholT)>
        <br />
        <center><b>Smoking hx</b></center>
        <label for="Smoking">Do you smoke?</label>
        <input id="Smoking" name="Smoking" type="checkbox" value="true" @(Model.Smoking ? "checked=\"checked\"" : "") />
        <br />
        <label for="Smoke">Have you ever smoked?</label>
        <input id="Smoke" name="Smoke" type="checkbox" value="true" @(Model.Smoke ? "checked=\"checked\"" : "") />
        <br />
        <label for="PassiveSmoking"> Exposed to smoke</label>
        <input id="PassiveSmoking" name="PassiveSmoking" type="checkbox" value="true" @(Model.PassiveSmoking ? "checked=\"checked\"" : "") onclick="onchangeAll('PassiveSmoking', this.checked)" />
        <input type="text" id="PassiveSmokingT" name="PassiveSmokingT" style="display:none" value=@Html.DisplayFor(model => model.PassiveSmokingT)>
        <br />
        <center><b>Drug use</b></center>
        <label for="Drugs">Do you use any drugs</label>
        <input id="Drugs" name="Drugs" type="checkbox" value="true" @(Model.Drugs ? "checked=\"checked\"" : "") onclick="onchangeAll('Drugs', this.checked)" />
        <input type="text" id="DrugsT" name="DrugsT" style="display:none" value=@Html.DisplayFor(model => model.DrugsT)>
        <br />
        <label for="PastDrugs">Did you ever used drugs in the past</label>
        <input id="PastDrugs" name="PastDrugs" type="checkbox" value="true" @(Model.PastDrugs ? "checked=\"checked\"" : "") onclick="onchangeAll('PastDrugs', this.checked)" />
        <input type="text" id="PastDrugsT" name="PastDrugsT" style="display:none" value=@Html.DisplayFor(model=> model.PastDrugsT)>
        <br />
        <label for="Trauma">Exposure to trauma</label>
        <input id="Trauma" name="Trauma" type="checkbox" value="true" @(Model.Trauma ? "checked=\"checked\"" : "") onclick="onchangeAll('Trauma', this.checked)" />
        <input type="text" id="TraumaT" name="TraumaT" style="display:none" value=" @Html.DisplayFor(model => model.TraumaT)">
        <br />
        <center><b>Eating Disorders</b></center>
        <label for="DisordersEating">presently</label>
        <input id="DisordersEating" name="DisordersEating" type="checkbox" value="true" @(Model.DisordersEating ? "checked=\"checked\"" : "") onclick="onchangeAll('DisordersEating', this.checked)" />
        <input type="text" id="DisordersEatingT" style="display:none" name="DisordersEatingT" value=@Html.DisplayFor(model => model.DisordersEatingT)>
        <br />
        <label for="PastDisordersEating">past</label>
        <input id="PastDisordersEating" name="PastDisordersEating" type="checkbox" value="true" @(Model.PastDisordersEating ? "checked=\"checked\"" : "") onclick="onchangeAll('PastDisordersEating', this.checked)" />
        <input type="text" id="PastDisordersEatingT" style="display:none" name="PastDisordersEatingT" value="@Html.DisplayFor(model => model.PastDisordersEatingT)">
        <br />
        <label for="Mm"><b>Mood/mental health issues</b></label>
        <input id="Mm" name="Mm" type="checkbox" onclick="onchangeAll('Mm', this.checked)" />

        <div id="Do" style="display:none">
            <input id="Anxiety" name="Anxiety" type="radio" onchange="onchangeRadio('Anxiety')" value="true" @(Model.Anxiety ? "checked=\"checked\"" : "") />Anxiety
            <input id="AnxietyT" name="AnxietyT" type="text" value="@Html.DisplayFor(model => model.AnxietyT)" style="display:none"><br />
            <input id="Bi_polar" name="Bi_polar" type="radio" onchange="onchangeRadio('Bi_polar')" value="true" @(Model.Bi_polar ? "checked=\"checked\"" : "") />Bi_polar
            <input id="Bi_polarT" name="Bi_polarT" type="text" value="@Html.DisplayFor(model => model.Bi_polarT)" style="display:none"><br />
            <input id="Depression" name="Depression" type="radio" onchange="onchangeRadio('Depression')" value="true" @(Model.Depression ? "checked=\"checked\"" : "") />Depression
            <input id="DepressionT" name="DepressionT" type="text" value="@Html.DisplayFor(model => model.DepressionT)" style="display:none"><br />
            <input id="OtherMentallssue" name="OtherMentallssue" type="radio" onchange="onchangeRadio('OtherMentallssue')" value="true" @(Model.OtherMentallssue ? "checked=\"checked\"" : "") />OtherMentallssue
            <input id="OtherMentallssueT" name="OtherMentallssueT" type="text" value="@Html.DisplayFor(model => model.OtherMentallssueT)" style="display:none"><br />
        </div>
        <br />
        <label for="Relation">Relation</label>
        <input id="Relation" name="Relation" type="checkbox" value="true" @(Model.Relation ? "checked=\"checked\"" : "") onclick="onchangeAll('Relation', this.checked)" />
        <input id="RelationT" type="text" name="RelationT" style="display:none" value=@Html.DisplayFor(model => model.RelationT)>
        <br />
        <label for="Ab">Ab</label>
        <input id="Ab" name="Ab" type="checkbox" value="true" @(Model.Ab ? "checked=\"checked\"" : "") onclick="onchangeAll('Ab', this.checked)" />
        <input id="AbT" type="text" name="AbT" style="display:none" value=@Html.DisplayFor(model => model.AbT)>
        <br />
        <label for="St">St</label>
        <input id="St" type="text" name="St" value=@Html.DisplayFor(model => model.St)>
        <br />
        <label style="font-size:initial; color:#762d49"> @ViewBag.status4</label>
        <br />
        <input id="ButtonSumbit" type="submit" value="שמור" style="font-weight:bolder" />
    }
</body>





