
@{
    ViewBag.Title = "PatiantsList";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using Bishvilaych.Controllers
@model List<Patiants>
<h2 style="text-align:center">רשימת מטופלות מלאה</h2>
@*בלחיצה כפולה תפתח טבלת לקוחה*@

<style>
    tr:hover {
        cursor: pointer;
        background-color: #ccc;
    }
</style>


<script>

</script>


<div style="width:100%;margin-left:10% ;margin-right:10%">
    <table dir="rtl" style="width:70%;height:200px" border="1">
        <thead>
            <tr>
                <td style="text-align:center">מספר זהות</td>
                <td style="text-align:center">שם מלא</td>
                <td style="text-align:center">רופא מטפל</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr onclick="location.href='@(Url.Action("dossesion", "FullListPatients",new {Id=item.Id}))'">
                        <td>@item.Id</td>
                        <td><lable>@item.FirstName</lable><lable>@item.LastName</lable></td>
                        <td>@item.Doctor </td>
                    </tr>

                }
            }
        </tbody>
    </table>
    </div>
