@{
    ViewBag.Title = "ReciepitsListOfCustomers";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    footer {
        position: absolute !important;
    }
  
</style>
@model Bishvilaych.Controllers.MyCustomersRecepitModels
<form id="form1" dir="rtl" class="container" style="margin-right:500px;">

    <h2 style="color:#810040">לקוחה</h2>
    <label style="font-size:20px; color:#a74174" dir="ltr">:מספר זהות</label>
    <label style="font-size:20px; color:#a74174">@Html.DisplayFor(model => model.MyC.Id)</label>&nbsp;&nbsp;&nbsp;&nbsp;

    <label style="font-size:20px; color:#a74174" dir="ltr">:שם מלא</label>
    <label style="font-size:20px; color:#a74174">@Html.DisplayFor(model => model.MyC.FirstName)</label>
    <label style="font-size:20px; color:#a74174">@Html.DisplayFor(model => model.MyC.LastName)</label>

    <h1 style="color:#810040">קבלות</h1>
    <table id="tbl" dir="rtl" class="table table-hover" style="width:70%">
        <thead>
            <tr>
                <td>תאריך</td>
                <td>מספר קבלה</td>
                <td>סכום</td>
                <td></td>

            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.recepit)
                {
                    <tr>
                        <td>@item.receiptDate.ToShortDateString()</td>
                        <td>@item.receiptNum</td>
                        <td>@item.Sum</td>
                        @*<td>@Html.ActionLink("קישור לקבלה", "", "")</td>*@
                    </tr>
                }
            }
        </tbody>
    </table>

    <p><a  style="width:63px!important;" class="btnOkAdd"  href="JavaScript:newPopup();">חדש</a></p>

</form>

<script type="text/javascript">
    // Popup window code
    function newPopup(url) {
        popupWindow = window.open(
            '/AddReceipt/AddCustomerReceipt', 'popUpWindow', 'height=600,width=800,left=650,top=150,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
    }
</script>
