@{
    ViewBag.Title = "Patiants";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@using Bishvilaych.Controllers
@using BussinessLayer
@model  List<Patiants>
<style>
    footer {
        position: absolute !important;
    }
    td {
        text-align: center;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "language": {
                "processing": "מעבד...",
                "lengthMenu": "הצג _MENU_ פריטים",
                "zeroRecords": "לא נמצאו רשומות מתאימות",
                "emptyTable": "לא נמצאו רשומות מתאימות",
                "info": "_START_ עד _END_ מתוך _TOTAL_ רשומות",
                "infoEmpty": "0 עד 0 מתוך 0 רשומות",
                "infoFiltered": "(מסונן מסך _MAX_  רשומות)",
                "infoPostFix": "",
                "search": "חיפוש:",
                "url": "",
                "paginate": {
                    "first": "ראשון",
                    "previous": "קודם",
                    "next": "הבא",
                    "last": "אחרון"
                }
            }
        });
    });
</script>
<h2 style="text-align:center">רשימת מטופלות במעקב</h2>

<table class="table table-bordered table-hover" dir="ltr" id="dataTable">
    <thead>
        <tr>
            <td style="text-align:center">קופת חולים</td>
            <td style="text-align:center">טלפון נוסף</td>
            <td style="text-align:center">טלפון</td>
            <td style="text-align:center">שם מלא</td>
            <td style="text-align:center">מספר זהות</td>
            <td style="text-align:center">מעקב</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    @{
                        Kupot k = new Kupot();
                        BLKupah blk = new BLKupah();
                        k = blk.Kupah(item.Kupah);
                        <td>@k.Kupah</td>
                    }
                    <td>@item.Phone2</td>
                    <td>@item.Phone</td>
                    <td>@(item.FirstName + "  " + item.LastName) </td>
                    <td>@item.Id</td>
                    <td @(item.followedup == true ? "checked=checked" : "")><input id="Checkbox1" type="checkbox" disabled="disabled" class="custom-control-input"/></td>
                    @*<td>@item.followedup </td>*@
                    @*<input id="FollowUp" name="FollowUp" type="checkbox" value="true" @(Model.MyP.FollowUp ? "checked=\"checked\"" : "") />*@
                </tr>
            }
        }
    </tbody>
</table>
