@*לאה אמסלם*@
@*20/06/18*@

@{
    ViewBag.Title = "Patiants";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@using Bishvilaych.Controllers
@using BussinessLayer
@model  List<Patiants>

<h2 style="text-align:center">רשימת מטופלות במעקב</h2>
<div style="width:100%;margin-left:10% ;margin-right:10%">
    <table style="width:70%;height:200px" border="1">
        <thead>
            <tr>
                <td style="text-align:center">קופת חולים</td>
                <td style="text-align:center">טלפון נוסף</td>
                <td style="text-align:center">טלפון</td>
                <td style="text-align:center">שם מלא</td>
                <td style="text-align:center">מספר זהות</td>
                <td style="text-align:center">מעקב</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        @{
                            Kupot k = new Kupot();
                            BLKupah blk = new BLKupah();
                            k = blk.Kupah(item.Kupah);
                            <td>@k.Kupah</td>
                        }
                        <td>@item.Phone2</td>
                        <td>@item.Phone</td>
                        <td>@(item.FirstName + "  " + item.LastName) </td>
                        <td>@item.Id</td>
                        <td @(item.followedup == true ? "checked=checked" : "")><input id="Checkbox1" type="checkbox" disabled="disabled" /></td>
                        @*<td>@item.followedup </td>*@
                        @*<input id="FollowUp" name="FollowUp" type="checkbox" value="true" @(Model.MyP.FollowUp ? "checked=\"checked\"" : "") />*@
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
