@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<style>
     .disablebutton{
 opacity: 0.8;
    }
    ul {
        top: 0px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(129, 0, 64, 0.88);
        border: 2px solid #52172e;
        font-family: Calibri;
        font-size: 15px;
    }

    li {
        float: left;
    }

        li a {
            display: inline-block;
            color: #fff;
            text-align: right;
            padding: 15px 5.2px 15px 5.5px;
            text-decoration: none;
            border-right: solid 1px #fff;
        }

            li a:hover {
                background-color: #cbacb8;
                color: white;
            }

    .modal-dialog {
        text-align:center;
        font-size:30px;
        right: auto;
        left: 0% !important;
    }

    input[type=button]:hover {
        opacity: 0.8;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <ul id="menu" dir="rtl">
        <li>@Html.ActionLink("הנפקת מדבקות", "Stiker", "Stiker")</li>
        <li>@Html.ActionLink("הנפקת קבלות", "reciepitsListOfPatiants", "ReciepitsListOfPatiants")</li>
        <li>@Html.ActionLink("סריקת מסמכים", "DocumentScanner", "DocumentScanner")</li>
        <li>@Html.ActionLink("סיכום ביקור", "VisitSummary", "VisitSummary")</li>
        <li>@Html.ActionLink("בדיקות עזר וחיסונים", "ScreeningKings", "ScreeningKings")</li>
        <li>@Html.ActionLink("בדיקה רפואית", "PhyicalExam", "PhyicalExam")</li>
        <li>@Html.ActionLink("אורח חיים רופאה", "LifeStyleDr", "LifeStyleDr")</li>
        <li>@Html.ActionLink("אורח חיים תזונאית", "LifeStyleNutritionist", "LifeStyleNutritionist")</li>
        <li>@Html.ActionLink("הסטוריה גניקולוגית", "PastGenicology", "PastGenicology")</li>
        <li>@Html.ActionLink("תרופות ורגישויות", "MedicinesSensitive", "MedicinesSensitive")</li>
        <li>@Html.ActionLink("עבר רפואי", "PastMedical", "PastMedical")</li>
        <li>@Html.ActionLink("סיבת הביקור", "visitReason", "visitReason")</li>
        <li>@Html.ActionLink("פרטים דמוגרפיים", "Demography", "Patiants")</li>
    </ul>
    <div>
        @RenderBody()
    </div>
</body>
</html>
