@model PastGenicology
@{
    ViewBag.Title = "PastGenicology";
    Layout = "~/Views/Shared/_PatiantsLayoutPage.cshtml";
}
<h2>PastGenicology</h2>
<style>

    .checkbox {
        display: inline-block;
        height: 18px;
        width: 18px;
    }

    .text {
        font-size: 20px;
    }
</style>

<script>
    function onLoad() {
        var CycleRegular = '@Model.CycleRegular';
        var MenstrualSyptoms = '@Model.MenstrualSyptoms';
        var MenopauseSyptoms = '@Model.MenopauseSyptoms';
        var Contraception = '@Model.Contraception';

        if (CycleRegular == "True") {
            document.getElementById('CycleRegularT').style.display = "inline-block";
        }
        if (MenstrualSyptoms == "True") {
            document.getElementById('MenstrualSyptomsT').style.display = "inline-block";
        }
        if (MenopauseSyptoms == "True") {
            document.getElementById('MenopauseSyptomsT').style.display = "inline-block";

        }
        if (Contraception == "True")
        {
            document.getElementById('ContraceptionT').style.display = "inline-block";
        }       
    }

    function onChangeDisplay(id,check) {

        switch (id) {
            case "CycleRegular":
                {
                    if (check == true) {
                        document.getElementById('CycleRegularT').style.display = "inline-block";
                        document.getElementById('CycleRegularT').value = "";
                       
                    }
                    else
                    {
                        document.getElementById('CycleRegularT').value = "";
                        document.getElementById('CycleRegularT').style.display = "none";
                    }
                    break;
                }
            case "MenstrualSyptoms":
                {
                    if (check == true) {
                        document.getElementById('MenstrualSyptomsT').style.display = "inline-block";
                        document.getElementById('MenstrualSyptomsT').value = "";
                       
                    }
                    else {
                        document.getElementById('MenstrualSyptomsT').value = "";
                        document.getElementById('MenstrualSyptomsT').style.display = "none";
                    }
                    break;
                }
            case "MenopauseSyptoms":
                {
                    if (check == true) {
                        document.getElementById('MenopauseSyptomsT').style.display = "inline-block";
                        document.getElementById('MenopauseSyptomsT').value = "";
                      
                    }
                    else {
                        document.getElementById('MenopauseSyptomsT').value = "";
                        document.getElementById('MenopauseSyptomsT').style.display = "none";
                    }
                    break;
                }
            case "Contraception":
                {
                    if (check == true) {
                        document.getElementById('ContraceptionT').style.display = "inline-block";
                        document.getElementById("ContraceptionT").selectedIndex = "0";
                        //document.getElementById('ContraceptionT0').value = true;
                        //document.getElementById('ContraceptionT0').checked = "checked";
                    }
                    else {
                        document.getElementById("ContraceptionT").selectedIndex = "0";
                        //document.getElementById('ContraceptionT0').value = true;
                        //document.getElementById('ContraceptionT0').checked = "checked";
                        document.getElementById('ContraceptionT').style.display = "none";
                    
                        
                    }
                    break;
                }
        }
    }
</script>
<body style="direction:ltr; text-align:center" onload="onLoad()">
    @using (Html.BeginForm())
    {
        <h2>@ViewBag.err</h2>
        <label class="text" for="AgeOfMenarche">Age of Menarche:</label>
        <input name="AgeOfMenarche" id="AgeOfMenarche" height="18" width="18" type="number" min="1" , max="120" value=@Html.DisplayFor(model => model.AgeOfMenarche) />
        <br />
        <br />
        <label class="text" for="CycleRegular">Are cycles regular?</label>
        <input class="checkbox" id="CycleRegular" name="CycleRegular" type="checkbox" onchange="onChangeDisplay('CycleRegular', this.checked)" value="true" @(Model.CycleRegular ? "checked=\"checked\"" : "") />
        <input name="CycleRegularT" id="CycleRegularT" type="text" style="display:none" value=@Html.DisplayFor(model => model.CycleRegularT)>
        <br />
        <br />
        <label class="text" for="MenstrualSyptoms">Any symptoms surrounding your menstrual cycle?</label>
        <input class="checkbox" id="MenstrualSyptoms" name="MenstrualSyptoms" type="checkbox" onchange="onChangeDisplay('MenstrualSyptoms',this.checked)" value="true" @(Model.MenstrualSyptoms ? "checked=\"checked\"" : "") />
        <input name="MenstrualSyptomsT" id="MenstrualSyptomsT" type="text" style="display:none" value=@Html.DisplayFor(model => model.MenstrualSyptomsT)>
        <br />
        <br />
        <label class="text" for="MenopauseSyptoms">Any symptoms surrounding menopause?</label>
        <input class="checkbox" id="MenopauseSyptoms" name="MenopauseSyptoms" type="checkbox" onchange="onChangeDisplay('MenopauseSyptoms',this.checked)" value="true" @(Model.MenopauseSyptoms ? "checked=\"checked\"" : "") />
        <input name="MenopauseSyptomsT" id="MenopauseSyptomsT" type="text" style="display:none" value=@Html.DisplayFor(model => model.MenopauseSyptomsT)>
        <br />
        <br />
        <label class="text" for="Contraception">Contraception hx:</label>
        <input class="checkbox" id="Contraception" name="Contraception" type="checkbox" onchange="onChangeDisplay('Contraception',this.checked)" value="true" @(Model.Contraception ? "checked=\"checked\"" : "") />
        <select name="ContraceptionT" style="display:none" id="ContraceptionT">
            <option name="ContraceptionT0" id="ContraceptionT0" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "Cerazette") ? "selected" : "" )>Cerazette</option>
            <option name="ContraceptionT1" id="ContraceptionT1" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "Diane-35") ? "selected" : "" )>Diane-35</option>
            <option name="ContraceptionT2" id="ContraceptionT2" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "Diaphragm") ? "selected" : "" )>Diaphragm</option>
            <option name="ContraceptionT3" id="ContraceptionT3" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "Feminet") ? "selected" : "" )>Feminet</option>
            <option name="ContraceptionT4" id="ContraceptionT4" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "IUD") ? "selected" : "" )>IUD</option>
            <option name="ContraceptionT5" id="ContraceptionT5" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "Mercilon") ? "selected" : "" )>Mercilon</option>
            <option name="ContraceptionT6" id="ContraceptionT6" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "Microlite") ? "selected" : "" )>Microlite</option>
            <option name="ContraceptionT7" id="ContraceptionT7" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "NuvaRing") ? "selected" : "" )>NuvaRing</option>
            <option name="ContraceptionT8" id="ContraceptionT8" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "Other") ? "selected" : "" )>Other</option>
        </select>
        <br />
        <br />
        <label style="font-size:initial; color:#762d49">@ViewBag.status2</label><br />
        <input id="ButtonSumbit" type="submit" value="שמור">
    }
</body>