@model PastGenicology
@{
    ViewBag.Title = "PastGenicology";
    Layout = "~/Views/Shared/_PatiantsLayoutPage.cshtml";
}
<h2>PastGenicology</h2>
@*המרה לתאריך*@
@*function ToJavaScriptDate(value){
    for(var i=0;i<value.length;i++) {
                                    var pattern=/Date\(([^)]+)\)/;
                                    var results=pattern.exec(value[i].UpdateDate);
                                    console.log(value)
                                    var dt=new Date(parseFloat(results[1]));
                                    console.log(dt)
                                    console.log(GetDate())
                                    $("#dateofpatiants").append(dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear())
                                    }
                                    return((dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear());
                                    }*@
<script>
    $(document).ready(function () {
        var dictionary = new Array();
        console.log($("#dateofpatiants"))
        console.log(dictionary);
        $("#dateofpatiants").html("")
        // if not working do with jquary  $(document).ready()...
        $.ajax({
            type: "get",
            url: "@Url.Action("Dates")",
            data: {},
            success: function (AllDateAndPast) {
                console.log(AllDateAndPast)
                alert(AllDateAndPast);
                $.each(AllDateAndPast, function () {
                    var keyDate = Object.keys(this)[0] //bring the key's name of the date
                    var keyPast = Object.keys(this)[1] //bring the key's name of the past
                    dictionary.push({
                        date: this[keyDate], // put in key the date
                        Past: this[keyPast] // put in Past object of pastgenicologi
                    })
                    console.log("dictionary:",dictionary);
                })
                //להציג בדיב את כל מפתחות הדיקטינרי
                ToJavaScriptDate(dictionary)
            },
            Error: function () { alert("System Error") }
        })

        $(".herf").click(function () {//כאשר בוחרים תאריך
            alert("vutt")
            console.log(this.title);
            if (this.title != $("#now").attr("title")) {
                $("#ButtonSumbit").prop("disabled", true);
            }
            else {
                $("#ButtonSumbit").prop("disabled", false);
            }
            console.log(dictionary[1])
        })

        function ToJavaScriptDate(value) {

            for (var i = 0; i < value.length; i++) {
                var ref = "#";
                var tit = value[i].date;
                console.log(value[i].date)
                console.log(111)
                console.log(value[i].pastGenicology);
                if (tit != $("#now").attr("title")) {

                    var link = $("<a href='" + ref + "' title='" + value[i].date + "'>" + value[i].date + "</a>")


                    $(link).click(function () {
                        alert("vutt")

                        var list;
                        var lis;
                        for (var j = 0; j < dictionary.length; j++) {


                            if (this.title == dictionary[j].date) {//שלוף את הנתונים של התאריך הנבחר
                                list = dictionary[j].Past

                            }
                        }
                        console.log(list);
                        console.log(list.AcoholT);
                        //selectA
                        $("#AgeOfMenarche").prop("value", list.AgeOfMenarche)
                        $("#CycleRegular").prop("selectedIndex", list.CycleRegular)
                        $("#CycleRegularT").prop("value", list.CycleRegularT)
                        $("#MenstrualSyptoms").prop("selectedIndex", list.MenstrualSyptoms)
                        $("#MenstrualSyptomsT").prop("value", list.MenstrualSyptomsT)
                        $("#MenopauseSyptoms").prop("selectedIndex", list.MenopauseSyptoms)
                        $("#MenopauseSyptomsT").prop("value", list.MenopauseSyptomsT)
                        $("#Contraception").prop("selectedIndex", list.Contraception)
                        $("#ContraceptionT").prop("value", list.ContraceptionT)


                        if (this.title != $("#now").attr("title")) {
                            $("#ButtonSumbit").prop("disabled", true);
                        }
                        else {
                            $("#ButtonSumbit").prop("disabled", false);
                        }

                    })
                    $("#dateofpatiants").append(link)
                    $("#dateofpatiants").append("<br/>")
                }
                else {
                    var link = $("<a href='" + ref + "' title='" + value[i].date + "'>" + "היום" + "</a>")

                    $(link).click(function ()
                    {
                        alert("vutt")
                        var list;
                        var lis;
                        for (var j = 0; j < dictionary.length; j++) {
                            if (this.title == dictionary[j].date) {//שלוף את הנתונים של התאריך הנבחר
                                list = dictionary[j].Past
                            }
                        }
                        console.log(list);
                        console.log(list.AcoholT);
                        $("#AgeOfMenarche").prop("value", list.AgeOfMenarche)
                        $("#CycleRegular").prop("selectedIndex", list.CycleRegular)
                        $("#CycleRegularT").prop("value", list.CycleRegularT)
                        $("#MenstrualSyptoms").prop("selectedIndex", list.MenstrualSyptoms)
                        $("#MenstrualSyptomsT").prop("value", list.MenstrualSyptomsT)
                        $("#MenopauseSyptoms").prop("selectedIndex", list.MenopauseSyptoms)
                        $("#MenopauseSyptomsT").prop("value", list.MenopauseSyptomsT)
                        $("#Contraception").prop("selectedIndex", list.Contraception)
                        $("#ContraceptionT").prop("value", list.ContraceptionT)

                        if (this.title != $("#now").attr("title")) {
                            $("#ButtonSumbit").prop("disabled", true);
                        }
                        else {
                            $("#ButtonSumbit").prop("disabled", false);
                        }


                    })
                    $("#dateofpatiants").append(link)
                    $("#dateofpatiants").append("<br/>")
                }
            }
        }
    });


    $(".yesno").dblclick(function ()
        {
            if( $(".yesno").val()=="Yes")
                $(".yesno").prop("selectedIndex", 1);
            else
                $(".yesno").prop("selectedIndex", 0);
        });

        function Load2(id)// שליפת נתונים
        {
            var x = document.getElementById(id);
            var tempo=@Html.DisplayFor(model => model.CycleRegular);
            switch (tempo)
            {
                case 0:x.selectIndex(0);
                    break;
                case 1:x.selectIndex(1);
                    break;
            }
        }
        function Load3(id)// שליפת נתונים
        {
            var x = document.getElementById(id);
            var tempo=@Html.DisplayFor(model => model.MenstrualSyptoms);
            switch (tempo)
            {
                case 0:x.selectIndex(0);
                    break;
                case 1:x.selectIndex(1);
                    break;
            }
        }
        function Load4(id)// שליפת נתונים
        {
            var x = document.getElementById(id);
            var tempo=@Html.DisplayFor(model => model.MenopauseSyptoms);
            switch (tempo)
            {
                case 0:x.selectIndex(0);
                    break;
                case 1:x.selectIndex(1);
                    break;
            }
        }
        function Load5(id)// שליפת נתונים
        {
            var x = document.getElementById(id);
            var tempo=@Html.DisplayFor(model => model.Contraception);
            switch (tempo)
            {
                case 0:
                    {
                        x.selectIndex(0);
                        var t=document.getElementById("ContraceptionT");
                        t.style.display='block'; // if its "No" don't show the next select
                    }
                    break;
                case 1:
                    {
                        x.selectIndex(1);
                        var t=document.getElementById("ContraceptionT");
                        t.style.display='block'; // if its "yes" show the next select
                    }
                    break;
            }
        }
        function Load6(id)
        {
            var x = document.getElementById(id);
            if(@Html.DisplayFor(model => model.ContraceptionT)!=null)
            {
                var tempo=@Html.DisplayFor(model => model.ContraceptionT);
                switch (tempo)
                {
                    case "Cerazette":x.selectIndex(0);
                        break;
                    case "Diane-35":x.selectIndex(1);
                        break;
                    case "Diaphragm":x.selectIndex(2);
                        break;
                    case "Feminet":x.selectIndex(3);
                        break;
                    case "IUD":x.selectIndex(4);
                        break;
                    case "Mercilon":x.selectIndex(5);
                        break;
                    case "Microlite":x.selectIndex(6);
                        break;
                    case "NuvaRing":x.selectIndex(7);
                        break;
                    default:x.selectIndex(8);
                }
            }
        }
        function visible(id)
        {
            var x = document.getElementById(id);
            var tempo=@Html.DisplayFor(model => model.Contraception);
            switch (tempo)
            {
                case 0:
                    {
                        x.selectIndex(0);
                        var t=document.getElementById("ContraceptionT");
                        t.style.display='block'; // if its "No" don't show the next select
                    }
                    break;
                case 1:
                    {
                        x.selectIndex(1);
                        var t=document.getElementById("ContraceptionT");
                        t.style.display='block'; // if its "yes" show the next select
                    }
                    break;
            }
        }

    })
</script>

@using (Html.BeginForm())
{
    <h2>@ViewBag.err</h2>
    <div>
        <fieldset>
            <p id="dateofpatiants"></p><br />
            <a href="#" id="now" class="herf" title="@DateTime.Today.ToShortDateString()" style="display:none">היום</a><br />
        </fieldset>
        <label for="AgeOfMenarche" style="font-size:21px; font-weight:bold">Age of Menarche:  </label>
        <input name="AgeOfMenarche" id="AgeOfMenarche" type="number" min="1" , max="120" value=@Html.DisplayFor(model => model.AgeOfMenarche) />
        <br />
        <br />
        <br />
        <label for="CycleRegular" style="font-size:21px; font-weight:bold">Are cycles regular?  </label> 
        <select @*class="yesno"*@ name="CycleRegular" id="CycleRegular" @*onload="Load2(CycleRegular)"*@>
            <option name="CycleRegular0" id="CycleRegular1" @((@Html.DisplayFor(model => model.CycleRegular).ToString() == "false") ? "selected" : "" )>No</option>
            <option name="CycleRegular1" id="CycleRegular2" @((@Html.DisplayFor(model => model.CycleRegular).ToString() == "true") ? "selected" : "" )>Yes</option>
        </select>  
        <input name="CycleRegularT" id="CycleRegularT" type="text" value=@Html.DisplayFor(model => model.CycleRegularT)>
        <br />
        <br />
        <br />
        <label for="MenstrualSyptoms" style="font-size:17px">Any symptoms surrounding your menstrual cycle?  </label><select class="yesno" name="MenstrualSyptoms" id="MenstrualSyptoms" onload="Load3(MenstrualSyptoms)">
            <option selected="selected">No</option>
            <option>Yes</option>
        </select>  <input name="MenstrualSyptomsT" id="MenstrualSyptomsT" type="text" value=@Html.DisplayFor(model => model.MenstrualSyptomsT)>
        <br />
        <br />
        <br />
        <label for="MenopauseSyptoms" style="font-size:17px">Any symptoms surrounding menopause?  </label>
        <select class="yesno" name="MenopauseSyptoms" id="MenopauseSyptoms" onload="Load4(MenopauseSyptoms)">
            <option name="MenopauseSyptoms" selected="selected">No</option>
            <option name="MenopauseSyptoms">Yes</option>
        </select>  <input name="MenopauseSyptomsT" id="MenopauseSyptomsT" type="text" value=@Html.DisplayFor(model => model.MenopauseSyptomsT)>
        <br />
        <br />
        <br />
        <label for="Contraception" style="font-size:21px; font-weight:bold">Contraception hx  </label>  <select class="yesno" name="Contraception" id="Contraception" onchange="visible(Contraception)" onload="Load5(Contraception)">
            <option selected="selected">No</option>
            <option>Yes</option>
        </select>  <select name="ContraceptionT" id="ContraceptionT" @*onload="Load6(this.id)"*@ @*style="display:none"*@>
            <option name="ContraceptionT0" id="ContraceptionT0" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "Cerazette") ? "selected" : "" )>Cerazette</option>
            <option name="ContraceptionT1" id="ContraceptionT1" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "Diane-35") ? "selected" : "" )>Diane-35</option>
            <option name="ContraceptionT2" id="ContraceptionT2" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "Diaphragm") ? "selected" : "" )>Diaphragm</option>
            <option name="ContraceptionT3" id="ContraceptionT3" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "Feminet") ? "selected" : "" )>Feminet</option>
            <option name="ContraceptionT4" id="ContraceptionT4" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "IUD") ? "selected" : "" )>IUD</option>
            <option name="ContraceptionT5" id="ContraceptionT5" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "Mercilon") ? "selected" : "" )>Mercilon</option>
            <option name="ContraceptionT6" id="ContraceptionT6" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "Microlite") ? "selected" : "" )>Microlite</option>
            <option name="ContraceptionT7" id="ContraceptionT7" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "NuvaRing") ? "selected" : "" )>NuvaRing</option>
            <option name="ContraceptionT8" id="ContraceptionT8" @((@Html.DisplayFor(model => model.ContraceptionT).ToString() == "Other") ? "selected" : "" )>Other</option>
        </select>  
        <br />
        <br />
        <br />
        <input id="ButtonSumbit" type="submit" value="שמור" style="font-weight:bolder" onclick="ok()">
    </div>
}
