@model Patiants
@{
    ViewBag.Title = "AddPatiant";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


@using DataAccessLayer;
@using BussinesLayer;
@using BussinessLayer;

<style>
    .myButton {
        background-color: #dcdcdc;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        border: 1px solid #dcdcdc;
        display: inline-block;
        cursor: pointer;
        color: #777777;
        font-family: Arial;
        font-size: 17px;
        font-weight: bold;
        padding: 6px 14px;
        text-decoration: none;
        text-shadow: 0px 0px 0px #ffffff;
    }

        .myButton:hover {
            background-color: transparent;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }
</style>
<script>


    $(document).ready(function () {

            function addErrorMessage(data) {
                    var txt = "<div class='alert alert-danger'  role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" + data + "</div>";
            $("#idp1").html("")
                    $("#idp1").append(txt)

            window.setTimeout(function () {
                //$(".alert").fadeTo(500, 0).slideUp(500, function () {
                //    $(this).alert('close');
                //    //$(".alert").alert('close');
                //});
                $(".alert").fadeTo(0, 600).slideUp(400, function () {
                    $(this).remove();
                        });
            }, 4000);
        }
                function addSuccessMessage(data) {
                    var txt = "<div class='alert alert-success'  role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" + data + "</div>";
                    $("#idp1").html("")
                    $("#idp1").append(txt)

                    window.setTimeout(function () {
                        $(".alert").fadeTo(0, 600).slideUp(400, function () {
                            $(this).remove();
                        });
                    }, 4000);
                }
    $("#Text1").on("blur", function () {

        $.ajax({
            type: 'get',
            url: "@Url.Action("checkID")",
            data: { ID: $("#Text1").val() },
            success: function (data) {
                if (data != "") {
                    addErrorMessage(data);
                }
            },
            error: function () { }
                    })
                })
    })
</script>

<center>

    <form id="form1" method="post" action="@Url.Action("addPatiant","AddPatiant")">
        <div dir="rtl">
            <fieldset style="margin-top:75px; height:470px; width:500px; box-shadow:150px;">
                <div style="margin-top:90px">
                    <h1 style="font-family:Arial;font-size:50px">הוספת מטופלת</h1>

                    <div style="margin-right:0%; margin-left:55px">
                        <label style="font-size:25px;font-family:Arial">מספר זהות:</label>
                        <input id="Text1" type="text" name="Id" maxlength="9" pattern="(?=.*\d)(?=.*[0-9]).{9,9}" title="נא הקש ת.ז בעלת 9 ספרות" placeholder="הכנס/י תעודת זהות" required />
                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                    </div>


                    <div style="margin-right:0%; margin-left:80px">
                        <label style="font-size:25px;font-family:Arial">שם פרטי:</label>
                        <input id="Text2" type="text" name="FirstName" maxlength="20" placeholder="הכנס/י שם פרטי" required />
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>

                    <div style="margin-right:0%; margin-left:50px">
                        <label style="font-size:25px;font-family:Arial">שם משפחה:</label>
                        <input id="Text3" type="text" name="LastName" maxlength="20" placeholder="הכנס/י שם משפחה" required />

                    </div>

                    <div style="margin-right:0%; margin-left:150px">
                        <label style="font-size:25px;font-family:Arial">קופות חולים:</label>
                        @*<select id="select1">
                                <option selected="selected">לאומית</option>
                                <option>כללית</option>
                                <option>מאוחדת</option>
                                <option>מכבי</option>
                            </select>*@

                        <select name="Kupah" style="font-size:15px">
                            @{
                                BussinessLayer.BL_AddPatiants blv = new BussinessLayer.BL_AddPatiants();
                                List<Kupot> l = new List<Kupot>();
                                l = blv.Draw_Kupah();
                                foreach (var item in l)
                                {
                                    <option value="@item.Code">@item.Kupah</option>
                                }
                            }
                        </select>
                    </div>
                    <div id="idp1">
                        @if (ViewBag.message != null && ViewBag.message != "")//jkjj
                        {
                            <script type="text/javascript">
                                window.onload = function () {
                                    var txt = "<div class='alert alert-success'  role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" + "@ViewBag.Message" + "</div>";
                                    $("#idp1").html("")
                                    $("#idp1").append(txt)

                                    window.setTimeout(function () {
                                        $(".alert").fadeTo(0, 600).slideUp(400, function () {
                                            $(this).remove();
                                        });
                                    }, 4000);
                                };
                            </script>
                        }
                    </div>
                    <div style="margin-right:0%; margin-left:280px">
                        <br><input class="myButton" id="Submit1" type="submit" value="הוסף" />
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</center>

