
@{
    ViewBag.Title = "AddLSNutritionist";
    Layout = "~/Views/Shared/_PatiantsLayoutPage.cshtml";
}

@model LifeStyle

<h2>AddLSNutritionist</h2>

<h2>Home</h2>
@using (Html.BeginForm())
{


<div>
    <label>Vitals</label><br />
    <label>Height</label><input type="text" value="@Html.DisplayNameFor(p => p.Height)"/><br />
    <label>Weight </label>
    <input type="text"   value="@Model.Wieght"/><br />
    <label>BMI </label>
    <input type="text"  value="@Model.BMI"/><br />
    <label>Blood Pressure</label><input type="text"  value="@Model.BloodPressure"/><br />
    <label>Pulse </label>
    <input type="text"  value="@Model.pulse"/>
    /
    <input type="text" /><br />
    <label>Nutrition</label><br />
    <label>Does not eat certain food</label><input type="text"  value="@Model.NotEat"/><input type="text"  value="@Model.NotEatT"/><br />
    <label>How many meals</label><input type="text"  value="@Model.Meals"/><br />
    <label>Eat fruits daily</label><input type="text"  value="@Model.Fruits"/><br />
    <label>Eats vegtables daily</label><input type="text"  value="@Model.Vegetables"/><br />
    <label>Eat dairy daily</label><input type="text"  value="@Model.Dairy"/><br />
    <label>How many cups of water a day</label><input type="text"  value="@Model.Water"/><br />
    <label>Following a particular diet</label><input type="text"  value="@Model.Diet"/><input type="text"  value="@Model.DietT"/><br />
    <label>Hours of sleep per night</label><input type="text"  value="@Model.SleepingHours"/><br />
    <label>Regular physical activity</label><input type="text"  value="@Model.Activity"/><br />

    <input id="btnSave" type="submit" value="שמור" />

</div>
}