

@*Ayala Gozlan*@

@*לא לשכוח לבדוק את איך מקבלים את התאריך של היום בפונקציה age()*@
@* SCRIPTלבדוק מה קורה עם  ה*@
@*לבדוק מה קורה עם העידכון*@


@model Bishvilaych.Controllers.MyModels

@{
    ViewBag.Title = "Demography";
    Layout = "~/Views/Shared/_PatiantsLayoutPage.cshtml";
}


@using (Html.BeginForm())
{
    <h2>Demography</h2>

    <label>:מספר זהות</label>
    <label >@Html.DisplayFor(model => model.MyP.Id)</label>

    <label>:שם מלא</label>
    <label>@Html.DisplayFor(model => model.MyP.FirstName)</label>
    <label>@Html.DisplayFor(model => model.MyP.LastName)</label>
    <br />

    <input style="display:none" name="Id" type="text" ID="TxbId" value=@Html.DisplayFor(model => model.MyP.Id)/>

    <label>שם פרטי</label>
    <input name="FirstName" type="text" ID="TxbId" value=@Html.DisplayFor(model => model.MyP.FirstName) />
    <br />

    <label>שם משפחה</label>
    <input name="LastName" type="text" ID="TxbId" value=@Html.DisplayFor(model => model.MyP.LastName) />
    <br />

    <label>רופא מטפל</label>
    <input name="Doctor" type="text" ID="TxbDoctor" value=@Html.DisplayFor(model => model.MyP.Doctor)>
    <br />

    <label>הופנתה ע"י</label>
    <select name="reffered" id="slc1" > 
        <option name="reffered" id="familyqad" @((@Html.DisplayFor(model => model.MyP.reffered).ToString() == "משפחה") ? "selected" : "" )  >משפחה</option>
        <option name="reffered" id="friends" @((@Html.DisplayFor(model => model.MyP.reffered).ToString() == "חברות") ? "selected" : "" )>חברות</option>
        <option name="reffered" id="familyDoc" @((@Html.DisplayFor(model => model.MyP.reffered).ToString() == "רופא משפחה") ? "selected" : "" )>רופא משפחה</option>
        <option name="reffered" id="outreachLecture" @((@Html.DisplayFor(model => model.MyP.reffered).ToString() == "הרצאה") ? "selected" : "" )>הרצאה</option>
        <option name="reffered" typeof="text" id="otherR" @((@Html.DisplayFor(model => model.MyP.reffered).ToString() == "אחר") ? "selected" : "" )>אחר</option>
    </select><br />

    <label>שפה מועדפת</label>
    <select name="Language" id="slc2" onload="fslc2()">
        <option name="Language" id="hebrow" @((@Html.DisplayFor(model => model.MyP.Language).ToString() == "עברית") ? "selected" : "" )>עברית</option>
        <option name="Language" id="english" @((@Html.DisplayFor(model => model.MyP.Language).ToString() == "English") ? "selected" : "" )>English</option>
        <option name="Language" id="otherL" @((@Html.DisplayFor(model => model.MyP.Language).ToString() == "אחר") ? "selected" : "" )>אחר</option>
    </select><br />

    <label>עיר</label>
    <input name="City" type="text" ID="TxtbCity" value=@Html.DisplayFor(model => model.MyP.City)><br />

    <label>רחוב</label>
    <input name="Street" type="text" ID="TxbStreet" value=@Html.DisplayFor(model => model.MyP.Street)><br />

    <label>טלפון</label>
    <input name="Phone" type="text" ID="TxbPhon" value=@Html.DisplayFor(model => model.MyP.Phone)><br />

    <label>טלפון נוסף</label>
    <input name="Phone2" type="text" ID="TxbPhon2" value=@Html.DisplayFor(model => model.MyP.Phone2)><br />

    <label>פקס</label>
    <input name="Fax" type="text" ID="TxbFax" value=@Html.DisplayFor(model => model.MyP.Fax)><br />

    <label>אי-מייל</label>
    <input name="Email" type="text" ID="TxbEmail" value=@Html.DisplayFor(model => model.MyP.Email)><br />

    <label>תאריך לידה</label>
    <input name="BirthDate" type="datetime" ID="BirthDate" value=@Html.DisplayFor(model => model.MyP.BirthDate) onchange="age()"><br />

    <label>דרך להתקשרות</label>
    <input name="ContactExam" type="text" ID="TxbWayConect" value=@Html.DisplayFor(model => model.MyP.ContactExam)><br />

    <label>preferred way of contact ginformation </label>
    <input name="ContactGinformation" type="text" ID="TxtGinfor" value=@Html.DisplayFor(model => model.MyP.ContactGinformation)><br />

    <label>מוצא האב</label>
    <input name="FathersOrigin" type="text" ID="TxtFather" value=@Html.DisplayFor(model => model.MyP.FathersOrigin)><br />

    <label>מוצא האם</label>
    <input name="MothersOrigin" type="text" ID="TxtMather" value=@Html.DisplayFor(model => model.MyP.MothersOrigin)><br />

    <label>קופת חולים</label>
    <select name="Kupah" id="slc3" onload="fslc3()">
            @foreach (var item in Model.MyK)
            {
                <option name="Kupah" value=@item.Kupah id=@item.Kupah @((@Html.DisplayFor(model => model.MyP.Kupah).ToString() == item.Code.ToString()) ? "selected" : "" )>@item.Kupah</option>
            }
    </select><br />

    <label>גיל</label>
    <input type="text" ID="TxbAge" @*value=@((@Html.DisplayFor(model => model.MyP.BirthDate) != null) ? (DateTime.Today.Year - Convert.ToDateTime(@Html.DisplayFor(model => model.MyP.BirthDate)).Year).ToString() : "")*@><br />

    <label  onload="maritalStatus()">מצב אישי</label><br />
    foreach (var item in Model.MyS)
    {
        <input name="MaritalStatus" value=item. type="radio" ID=item.Status @((@Html.DisplayFor(model => model.MyP.MaritalStatus).ToString() == item.Code.ToString()) ? "checked" : "" )/>@item.Maritalstatus<br />
    }
    

    <label>ילדים</label>
    <input type="checkbox" @((@Html.DisplayFor(model => model.MyP.Children).ToString() != 0.ToString())? "checked" : "")  />
    <br />

    <div id="d" style="display:@((@Html.DisplayFor(model => model.MyP.Children).ToString() == 0.ToString())? "none" : "block")" >

        <label>מספר ילדים</label>
        <input name="Children" type="number" min="0" ID="TxbNumChild" value=@Html.DisplayFor(model => model.MyP.Children)><br />

        <label>G</label>
        <input name="G" type="number" min="0" ID="TxbG" value=@Html.DisplayFor(model => model.MyP.G)><br />

        <label>T</label>
        <input name="T" type="number" min="0" ID="TxbT" value=@Html.DisplayFor(model => model.MyP.T)><br />

        <label>P</label>
        <input type="number" min="0" ID="TxbP" value=@Html.DisplayFor(model => model.MyP.P)><br />

        <label>A</label>
        <input name="A" type="number" min="0" ID="TxbA" value=@Html.DisplayFor(model => model.MyP.A)> <br />

        <label>L</label>
        <input name="L" type="number" min="0" ID="TxbL" value=@Html.DisplayFor(model => model.MyP.L)><br />

    </div>

    <label>אישור ליצירת קשר למעקב</label>
    <select name="FollowUp" id="slc4" onload="fslc4()">
        <option name="FollowUp" id="true" @((@Html.DisplayFor(model => model.MyP.FollowUp).ToString() == "כן") ? "selected" : "" )>כן</option>
        <option name="FollowUp" id="false" @((@Html.DisplayFor(model => model.MyP.FollowUp).ToString() == "לא") ? "selected" : "" )>לא</option>
    </select><br />

    <label>עיסוק</label>
    <select name="Occupation" id="slc5" onload="fslc5()">
        <option name="Occupation" id="Homemaker" @((@Html.DisplayFor(model => model.MyP.Occupation).ToString() == "עקרת בית") ? "selected" : "" )>עקרת בית</option>
        <option name="Occupation" id="student" @((@Html.DisplayFor(model => model.MyP.Occupation).ToString() == "סטודנטית") ? "selected" : "" )>סטודנטית</option>
        <option name="Occupation" id="otherB" @((@Html.DisplayFor(model => model.MyP.Occupation).ToString() == "אחר") ? "selected" : "" )>אחר</option>
    </select><br />

    <input type="submit" value="עדכן">
}