
@{
    ViewBag.Title = "WorkersList";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using Bishvilaych.Controllers
@model List<Workers>
<h2 style="text-align:center">רשימת עובדות מלאה</h2>

@*בלחיצה כפולה תפתח טבלת עובדות*@

<style>
    tr:hover {
        cursor: pointer;
        background-color: #ccc;
    }
</style>
<script>
</script>
<div style="width:100%;margin-left:10% ;margin-right:10%">
    <table dir="rtl" style="width:100%; height:200px" border="1">
        <thead>
            <tr>
                <td style="text-align:center">מספר זהות</td>
                <td style="text-align:center">שם מלא   </td>
                <td style="text-align:center">תפקיד    </td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr onclick="location.href='@(Url.Action("decision", "FullListWorkers",new {Id=item.Id}))'">
                        <td>@item.Id</td>
                        <td>@item.FirstName  @item.LastName </td>
                        <td>@item.Job</td>
                    </tr>
                }
            }
        </tbody>
    </table>
   </div>


