@{
    ViewBag.Title = "ReciepitsListOfPatiants";
    Layout = "~/Views/Shared/_PatiantsLayoutPage.cshtml";
}
<style>
    footer {
        position: relative !important;
    }
    .logo {
        margin-top: -90px !important;
    }

    .return {
        margin-top: -60px !important;
    }
</style>

@model Bishvilaych.Controllers.MyPatiantsRecepitModels
<form id="form1" dir="rtl" class="container">

    <h2 style="color:#810040">מטופלת</h2>
    <label style="font-size:20px; color:#a74174" dir="ltr">:מספר זהות</label>
    <label style="font-size:20px; color:#a74174">@Html.DisplayFor(model => model.MyP.Id)</label>&nbsp;&nbsp;&nbsp;&nbsp;

    <label style="font-size:20px; color:#a74174" dir="ltr">:שם מלא</label>
    <label style="font-size:20px; color:#a74174">@Html.DisplayFor(model => model.MyP.FirstName)</label>
    <label style="font-size:20px; color:#a74174">@Html.DisplayFor(model => model.MyP.LastName)</label>
    <h1 style="color:#810040">קבלות</h1>
    <table id="tbl" class="table table-hover" style="width:70%">
        <thead>
            <tr>
                <td>תאריך</td>
                <td>מספר קבלה</td>
                <td>סכום</td>
                @*<td></td>*@

            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.recepit)
                {
                    <tr>
                        <td>@item.receiptDate.ToShortDateString()</td>
                        <td>@item.receiptNum</td>
                        <td>@item.Sum</td>
                        @*<td>@Html.ActionLink("קישור לקבלה", "", "")</td>*@
                    </tr>
                }
            }
        </tbody>
    </table>

    <p><a style="width:63px!important;" class="btnOkAdd" href="JavaScript:newPopup();">חדש</a></p>

</form>

<script type="text/javascript">
    // Popup window code
    function newPopup() {

        popupWindow = window.open(
            '/AddReceipt/AddPatiantReceipt', 'popUpWindow', 'height=600,width=800,left=650,top=150,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
    }
</script>
