
@*Ayala Gozlan*@
@*לא לשכוח ליצור קישור לדף 33*@

    @{
        ViewBag.Title = "ReciepitsListOfPatiants";
        Layout = "~/Views/Shared/_PatiantsLayoutPage.cshtml";
    }

    @model Bishvilaych.Controllers.MyPatiantsRecepitModels
    <form id="form1" dir="rtl">


        <h2>מטופלת</h2>
        <label>:מספר זהות</label>
        <label>@Html.DisplayFor(model => model.MyP.Id)</label>

        <label>:שם מלא</label>
        <label>@Html.DisplayFor(model => model.MyP.FirstName)</label>
        <label>@Html.DisplayFor(model => model.MyP.LastName)</label>

            <h1>קבלות</h1>
            <table id="tbl" class="table table-hover" style="width:70%">
                <thead>
                    <tr>
                        <td>תאריך</td>
                        <td>מספר קבלה</td>
                        <td>סכום</td>
                        <td></td>

                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.recepit)
                        {
                            <tr>
                                <td>@item.receiptDate</td>
                                <td>@item.receiptNum</td>
                                <td>@item.Sum</td>
                                <td>@Html.ActionLink("קישור לקבלה", "", "")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        <p><a href="JavaScript:newPopup();">חדש</a></p>
    </form>

<script type="text/javascript">
// Popup window code
    function newPopup()
    {

	popupWindow = window.open(
		'/AddReceipt/AddReceipt', 'popUpWindow', 'height=600,width=600,left=650,top=150,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
}
</script>
<p><a href="JavaScript:newPopup('/javascript/examples/sample_popup.cfm');">Open a popup window</a></p>