@{
    ViewBag.Title = "Diagnoze";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using DataAccessLayer;
@using BussinesLayer;
@using BussinessLayer;


@*<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>*@
<body dir="rtl">
    <form id="form1" method="post" action="@Url.Action("Diagnoze","Diagnoze")">
        <center>
            @*<div style="margin-top:150px">*@
                <h2>הוספת אבחון</h2>
                <table>
                    <tr>
                        <td>אבחנה:</td>
                        <td>
                            <select name="Diagnoze">
                                @{
                                    BussinessLayer.BL_AddDiagnozeAndHospitalization bd = new BussinessLayer.BL_AddDiagnozeAndHospitalization();
                                    List<DiagnozesKinds> ld = new List<DiagnozesKinds>();
                                    ld = bd.Draw_Diagnoze();
                                    foreach (var item in ld)
                                    {
                                        <option name="Diagnoze" value="@item.Diagnoze">@item.Diagnoze</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>סטאטוס:</td>
                        <td>
                            <select name="Status">
                                @{
                                    BussinessLayer.BL_AddDiagnozeAndHospitalization bs = new BussinessLayer.BL_AddDiagnozeAndHospitalization();
                                    List<Statuses> ls = new List<Statuses>();
                                    ls = bs.Draw_Status();
                                    foreach (var item in ls)
                                    {
                                        <option name="Status" value="@item.Status">@item.Status</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>תאריך התחלה:</td>
                        <td><input id="Text3" type="date"  name="BeginDate" /></td>
                    </tr>
                    <tr>
                        <td>תאריך סיום:</td>
                        <td><input id="Text4" type="date" name="EndDate"/></td>
                    </tr>
                </table>
            @*</div>*@

            @*<div>*@
                <input class="myButton" id="Submit1" type="submit" value="הוסף" />
            @*</div>*@

        </center>

    </form>
</body>
@*</html>*@