@*Avishag*@
@{
    ViewBag.Title = "Diagnoze";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using DataAccessLayer;
@using BussinesLayer;
@using BussinessLayer;


@*<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>*@
<body dir="rtl">
    <form id="form1" method="post" action="@Url.Action("Diagnoze","Diagnoze")">
        <center>
            <div style="margin-top:150px">
                <h2>הוספת אבחון</h2>
                <table>

                    <tr>
                        <td>אבחנה:</td>
                        <td>
                            <input id="Text1" type="text" />
                            <select name="DiagnozesKinds">
                                @{
                                    BussinessLayer.BL_AddDiagnozeAndHospitalization bd = new BussinessLayer.BL_AddDiagnozeAndHospitalization();
                                    List<DiagnozesKinds> ld = new List<DiagnozesKinds>();
                                    ld = bd.Draw_Diagnoze();
                                    foreach (var item in ld)
                                    {
                                        <option value="@item.Diagnoze">@item.Diagnoze</option>
                                    }
                                }

                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>סטאטוס:</td>
                        <td>

                            <select name="Statuses">
                                @{
                                    BussinessLayer.BL_AddDiagnozeAndHospitalization bs = new BussinessLayer.BL_AddDiagnozeAndHospitalization();
                                    List<Statuses> ls = new List<Statuses>();
                                    ls = bs.Draw_Status();
                                    foreach (var item in ls)
                                    {
                                        <option value="@item.Status">@item.Status</option>

                                    }

                                }
                            </select>
                            <input id="Text2" type="text" />
                        </td>
                    </tr>

                    <tr>
                        <td>תאריך התחלה:</td>
                        <td><input id="Text3" type="text" /></td>
                    </tr>

                    <tr>
                        <td>תאריך סיום:</td>
                        <td><input id="Text4" type="text" /></td>
                    </tr>
                </table>
            </div>

            <div>
                <input class="myButton" id="Submit1" type="submit" value="הוסף" />
            </div>

        </center>

    </form>
</body>
@*</html>*@