

@{
    ViewBag.Title = "Customers_";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";

}
@model List<Customers>
@*מסך 42*@
@using Bishvilaych.Controllers

<style>
    td {
        text-align: center;
    }
</style>

<script type="text/javascript">
</script>
@*בלחיצה כפולה תפתח טבלת לקוחה*@
<h2 style="text-align:center">רשימת לקוחות</h2>
<table class="table table-bordered" dir="ltr">
    <thead>
        <tr>
            <td>רחוב</td>
            <td>עיר</td>
            <td>טלפון נוסף</td>
            <td>טלפון</td>
            <td>שם מלא</td>
            <td>תעודת זהות</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                if (item.Id != "")
                {
                    <tr ondblclick="location.href = '@(Url.Action("ReciepitsListOfCustomers", "ReciepitsListOfCustomers", new { Id = item.Id }))'">
                        <td>@item.Street</td>
                        <td>@item.City</td>
                        <td>@item.Phone2</td>
                        <td>@item.Phone</td>
                        <td>@(item.FirstName + " " + item.LastName)</td>
                        <td>@item.Id</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
